* {
    box-sizing: border-box;
    border: 1px red solid;
}

#start-box {
    border: 10px black solid;
    height: 50vh;
    flex-direction: column;
    margin:auto; 
    width: 50%; 
    text-align:center; 
    padding-top: 15px
}

.display-visible {
    display: flex;
}

.display-none {
    display: none
}